
<launch>
  <arg name="record" default="false"/>
  <arg name="duration" default="10"/>
  <arg name="rec_name" default="turtle_record.bag"/>
  <group if="$(arg record)">
      <node name="rosbag_record_turtle" pkg="rosbag" type="record"
         args="record -O $(find pkg_ros_basics)/bag_files/$(arg rec_name) --duration=$(arg duration) --chunksize=10 /turtle1/cmd_vel /turtle1/pose" output="screen"/>
  </group>
  <node name = "node_turtlesim_node" pkg = "turtlesim" type = "turtlesim_node"/>
  <node name = "move_turtle" pkg = "pkg_ros_basics" type = "move_turtle.py" output = "screen"/>
</launch>
